@model PublisherScheduler01Web.ViewModels.AssignmentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SlotSelected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlotSelected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskTypeSelected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTypeSelected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonSelected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonSelected)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssignmentDetail.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
