@model PublisherScheduler01Web.ViewModels.TaskTypeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskTypeDetail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTypeDetail.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskTypeDetail.Roles)
        </dt>

        <dd>
            <table>
                @foreach (string role in Model.RoleNamesSelected)
                {
                    <tr>
                        <td>
                            @role.ToString()
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskTypeDetail.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTypeDetail.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskTypeDetail.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
